*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    border-top: 2px solid #ff6600;
}
.container-header{
    width: 1170px;
    margin: 0 auto;
    height: 90px;
}

.logo-img{
    float: left;
    margin: 20px 0px;
}
.logo-img img{
    width: 50px;
    height: 50px;
    display: flex;
}

.logo-name{
    float: left;
    height: 90px;
    margin: 23px 15px 0px;
}
.logo-name h1{
    color: #ff6600;
    font-weight: lighter;
    font-size: 20px;
}

.logo-name h2{
    color: #4c4c4c;
    font-weight: lighter;
    font-size: 16px;
}

.navigation ul{
    display: flex;
    float: right;
    overflow: hidden;
    height: 90px;
}
.navigation li{
    list-style: none;
    padding-top: 45px;
    padding-bottom: 20px;
}

.navigation li:hover{
    background-color: #ff6600;
}
.navigation a{
    text-decoration: none;
    padding: 0px 20px;
    color: #4c4c4c;
    font-size: 14px;
    font-weight: bold;
}
.navigation ul li a:hover{
 color: white;
}

.bg-img{
    background-image: url(../images/banner.jpg);
    background-color: #ff6600;
    height: 425px;
    background-size: 100% 100%;
}

/***** Container Main*/

.container-main{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}
/******* Services*/
.services-topics{
    text-align: center;
    color: #4c4c4c;
}

.services-topics h2{
    font-weight: lighter;
    color: #ff6600;
    margin: 65px 0px 20px 0px;
    font-size: 28px;
}

.services-topics p{
    text-indent: 2px;
    font-size: 18px;
    margin-bottom: 20px;
}

.service-list li{
    text-align: center;
    list-style: none;
    padding: 20px 0px;
    width: 25%;
    float: left;
}

.service-list ul{
    overflow: hidden;
}

.fas-size{
    font-size: 80px;
    color: #ff6600;
}

.service-list h2{
    font-size: 22px;
    font-weight: lighter;
    color: #ff6600;
    padding-top: 20px;
}

.service-list p{
    font-size: 14px;
    padding: 20px 20px;
    font-weight: lighter;
    color: #4c4c4c;
}

.service-list button{
    width: 85px;
    height: 26px;
    background-color: #c8cdce;
    color: #4c4c4c;
    font-size: 12px;
    text-decoration: none;
    border-style: none;
}

.service-list button:hover{
    background-color: #4c4c4c;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.project-topics{
    width: 440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}

.project-topics h2{
    font-size: 28px;
    color: #ff6600;
    margin-top: 50px;
    font-weight: lighter;
}

.project-line{
    margin: 20px 0px;
}

.project-topics a{
    text-decoration: none;
    font-size: 16px;
    color: #4c4c4c;
    padding: 0px 25px;
}

.project-topics span{
    color: #4c4c4c;
    font-size: 16px;
}

.project-topics a:hover{
    color: #ff6600;
    font-weight: bold;
}

.project-wrapper{
    margin-bottom: 50px;
}

.project-wrapper ul{
    overflow: hidden;
}

.project-wrapper li{
    width: 25%;
    float: left;
    list-style: none;
}

.project-wrapper li img{
    width: 100%;
    height: 220px;
}

.content-data{
    background-image: url(../images/office-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px;
    margin-bottom: 50px;
}

.content-data-wrapper{
    overflow: hidden;
}

.left{
    width: 40%;
    float: left;
}

.left img{
    width: 100%;
    margin-top: 50px;
}

.fas-setting{
    font-size: 40px;
    color: #ff6600;
}

.right h2{
    font-size: 28px;
    color: white;
    margin-top: 50px;
}
.right p{
    color: white;
    font-size: 18px;
    line-height: 28px;
}

.content-line{
    border: 1px solid #ff6600;
    margin: 10px;
}

.right button{
    float: right;
    height: 30px;
    width: 100px;
    background-color: #c8cdce;
    color: #4c4c4c;
    border-style: none;
}

.right button:hover{
    background: #4c4c4c;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.client-wrapper{
    width: 60%;
    float: left;
    overflow: hidden;
}

.client-wrapper h3{
    color: #ff6600;
    font-weight: lighter;
    margin-bottom: 20px;
}

.client-wrapper img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    
}
.client-wrapper p{
    color: #4c4c4c;
    font-weight: bold;
}
.client-wrapper-details{
    float: left;
}
.client-wrapper-content{
    overflow: hidden;
    padding: 20px;
}
.client-wrapper-content p{
    font-weight: lighter
}
.quote-grey{
    color: #4c4c4c;
}

.testinomial button{
    float: right;
    height: 30px;
    width: 100px;
    background-color: #c8cdce;
    color: #4c4c4c;
    border-style: none;
    margin: 20px ;
}

.testinomial button:hover{
    background: #4c4c4c;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.news-event-wrapper img{
    widows: 100px;
    height: 100px;;
}

.news-event-details{
    float: left;
}
.news-event-wrapper h3{
    color: #ff6600;
    font-weight: lighter;
    margin-bottom: 20px;
}

.news-event-content{
padding-top: 30px;
}
@media only screen and (max-width: 1169px){

    .container-header, .container-main{
        width: 92%;
    }
    .service-list li{
        float: left;
        width: 50%;
    }

    
.project-wrapper li{
    width: 50%;
    float: left;
    list-style: none;
}

.project-wrapper li img{
    width: 100%;
    height: 220px;
}

  

@media only screen and (max-width: 790px){
   

    .service-list li{
        float: none;
        width: 100%;
    }
    .navigation {
        display: none;

    }

    
.project-topics{
    width: 92%;
}

.project-topics a{
    padding: 0 10px;
    font-size: 12px;
}


.project-wrapper li{
    width: 100%;
    float: left;
    list-style: none;
}

.project-wrapper li img{
    width: 100%;
    height: 220px;
}

.content-data{
    height: 100%;
}

.left{
    width: 100%;
    margin-bottom: 50px;
}

.content-data-wrapper{
    margin-bottom: 50px;
}

.client-wrapper {
    width: 100%;
    text-align:center;
}
.client-wrapper-details {
    float: none;
}

.testinomial button{
    float: none;
}
.news-event-details {
    float: none;
}
.news-event-wrapper{
    text-align: center;
}

}